* {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}



body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.928);
    color: #fff;
    height: 100vh;

}
.all
{   
    display: flex;
    flex-direction: column;  
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.535);
    background-color: rgba(0, 0, 0, 0.163);
    width: 70%;
    max-width: 900px;
    height: auto;
    box-shadow: 0 0 15px 1px yellow;
    padding-bottom: 10px;

}
header h1{
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-family: sans-serif;
    margin-top: 30px;

}
.hero
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 7%;
    margin-top: 25px;
    margin-bottom: 40px;
}
.rock
{  
     display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 10em;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0  0 5px 1px #fff;

}
.paper
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 10em;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0  0 5px 1px #fff;

}
.scissors
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 10em;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0  0 5px 1px #fff;

}
 .rock, .paper, .scissors {
    width: 13vw !important;
    height: 13vw !important;
  }
  .rock img, .paper img, .scissors img {
    width: 7vw !important;
    height: 7vw !important;
  }

.hero img
{ 
    height: 100px;
    width: 100px;
    object-fit: contain;
    

}
.rock:hover , .paper:hover , .scissors:hover
{
    box-shadow: 0  0 9px 1px #fff;
}
.rock:active , .paper:active , .scissors:active
{
    transform: scale(0.98);
}
#win-losse
{  
    text-align: center;
    margin: 0;
    font-family: sans-serif;
    font-size: 2.6vw;
    margin-bottom: 23px;
}
#choice
{
    display: flex ;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
   
}



#resetScore
{  
     margin: 0;
    display: none;
    justify-content: center;
    align-items: center;
     width: 4.5vw;
    height: 4.5vw;
    border-radius: 100%;
    position:relative;
    bottom: 1px;
    left: 10px;
    cursor: pointer;
    
}
#resetScore img
{
    width: 4.5vw;
    height: 4.5vw;
}
#resetScore :hover
{  
    border-radius: 100%;
    box-shadow: 0  0 10px 0.5px #fff;

}
#resetScore img:active
{
    transform: scale(0.98);
}
h2, h4{
    margin: 0;

}
#my-rock ,#my-paper,#my-scissors
{   display:none; 
    display: none;
    justify-content: center;
    align-items: center;
    width: 5vw;
    border-radius: 100%;
    
}
#com-rock ,#com-paper,#com-scissors
{   display:none; 
    display: none;
    justify-content: center;
    align-items: center;
    width: 5vw;
    border-radius: 100%;
    
}

/* Start Media query */
